footer {
    padding: 4rem 8rem 0rem;
    background-color: black;
}

.footerContent {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-items: center;
}

.footer-link {
    display: flex;
}

footer h3, a {
    color: white;
    text-decoration: none;
}

footer h3 {
    font-size: 1.9rem;

    margin: 0 0 2rem;
}

footer a {
    font-weight: 400;
    font-size: 1.1rem;
    color: #f5f5f5;

    padding: 0 1.5rem;
    margin-bottom: 1rem;
    display: block;

    transition: .5s;
}

footer a:hover {
    transform: translate(20px);
    transition: .5s;
}

.copyright {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 50vw;
    max-width: 2000px;
    margin: 4rem auto 0rem;
    padding: 2rem 0;

    border-top: 1px solid #999999;
    color: #999999;
}

footer img {
    width: 200px;
}



@media (max-width: 1000px) {
    .footerContent {
        display: block;
    }
    footer {
        padding: 4rem 2rem;
    }

    
    footer h3 {
        font-size: 1.9rem;

        margin: 2rem 0;
    }
}

@media (max-width: 500px) {
    footer {
        padding: 4rem .2rem 0rem 2rem;
    }

    footer a {
        padding: 0 1rem;
    }

    footer a {
        font-size: 1rem;
    }
}