.container {
    position: fixed;
    top: 90vh;
    right: -297px;
    width: 2000px;
    height: 100px;
    z-index: 999;
  }
  
/* CHATBOX
=============== */
.chatbox {
    position: absolute;
    bottom: 30px;
    right: 20px;
    z-index: 999;
}

/* CONTENT IS CLOSE */
.chatbox__support {
    display: none;
    flex-direction: column;
    background: #eee;
    width: 300px;
    height: 350px;
    z-index: -123456;
    opacity: 0;
    transition: all .5s ease-in-out;
    
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    position: relative;
    top: 20px;
    right: 405px;
}

/* CONTENT ISOPEN */
.chatbox--active {
    transform: translateY(-40px);
    z-index: 123456;
    opacity: 1;
    display: flex;
}

/* BUTTON */
.chatbox__button {
    cursor: pointer;
    text-align: right;
    z-index: 888;
}

.send__button {
    padding: 6px;
    background: #4acf89;
    border: 2px solid #6ae0a2;
    outline: none;
    cursor: pointer;
    position: relative;
    border-radius: 5px;
    width: 80px;
    left: 10px;
	transition: all 0.4 ease;
}

.send__button:hover{
	background: #61e39e;

}

/* HEADER */
.chatbox__header {
    position: sticky;
    top: 0;
}

/* MESSAGES */
.chatbox__messages {
    margin-top: auto;
    display: flex;
    overflow-y: scroll;
    flex-direction: column;
    gap:10px;
    scroll-behavior: smooth;
}

.messages__item {
    background: orange;
    max-width: 60.6%;
    width: fit-content;
}

.messages__item--operator {
    margin-left: auto;
}

.messages__item--visitor {
    margin-right: auto;
}

/* FOOTER */
.chatbox__footer {
    position: sticky;
    bottom: 0;
}

.message_input {
    outline: none;
}

/* HEADER */
.chatbox__header {
    background: linear-gradient(93.12deg, #090808 0.52%, #090808 100%);;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 15px 20px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    box-shadow: var(--primaryBoxShadow);
}

.chatbox__image--header {
    margin-right: 10px;
}

.chatbox__heading--header {
    font-size: 1.2rem;
    color: white;
}

.chatbox__description--header {
    font-size: .9rem;
    color: white;
}

/* Messages */
.chatbox__messages {
    padding: 0 20px;
}

.messages__item {
    margin-top: 10px;
    background: #E0E0E0;
    padding: 8px 12px;
    max-width: 70%;
}

.messages__item--visitor,
.messages__item--typing {
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
}

.messages__item--operator {
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;
    background: #090808;
    color: white;
}

/* FOOTER */
.chatbox__footer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 20px 20px;
    background: linear-gradient(268.91deg, #0d0e0d -2.14%, #090808 99.69%);
    box-shadow: var(--secondaryBoxShadow);
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    margin-top: 20px;
}

.chatbox__footer input {
    width: 80%;
    border: none;
    padding: 10px 10px;
    border-radius: 10px;
    text-align: left;
}

.chatbox__send--footer {
    color: white;
}

.chatbox__button button,
.chatbox__button button:focus,
.chatbox__button button:visited {
    padding: 10px;
    background: #6ae0a2;
    border: none;
    outline: none;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
    border-bottom-left-radius: 50px;
    box-shadow: 4px 10px 15px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    position: relative;
    left: -405px;
    top: -50px;
}

.chatbox__button button:hover {
    background: #44a772;
    color: #fff;
}

.img-chat{
    width: 40px;
    height: 40px;
    position: relative;
    left: 4px;
    top: 8px;
}

@media (max-width: 1000px) {
    .container {
        position: fixed;
        top: 90vh;
        right: -400px;
        width: 2000px;
        height: 100px;
        z-index: 999;
      }
}