.who-we-are {
  background-color: #090808;
  background-image: url(../../images/3d-asset.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;

  color: white;
  padding: 3rem 0 8rem;
}

.who-we-are h2 {
  text-align: center;
  font-size: 4rem;
  margin-bottom: 3rem;
}

.description-we-are {
  display: flex;
  justify-content: space-between;
  align-items: center;

  gap: 2rem;

  margin-right: 8rem;
}

.description-we-are p {
  color: white;
  font-size: 1.2rem;
  margin: 1rem 0 3rem ;
}

.who-we-are > div {
  font-size: 1.3rem;
  font-weight: 500;
}

.who-we-are div > img {

  height: auto;
  max-height: 500px;
}

.meet-team {
  color: #ffedd3;
  background-color: transparent;
  text-align: center;
  width: 100%;

  padding: 0 1rem;
  z-index: 3;
  transition: 1s;
}

.animation-line {
  width: 0px;
  height: 2px;
  background: #fdbf71;
  transform: translate(10px, 20px);
  transition: .5s;
}

.meet-team:hover + .animation-line {
  animation: animation-line .5s forwards;
}

.light {
  width: 300px;

  position: absolute;
  right: 0px;
  bottom: -10px;

  transition: .5s;
}

.outlet {
  width: 80%;
  max-width: 1400px;
  position: absolute;

  bottom: -350px;
}
  
@keyframes animation-line {
  0% {
    width: 0px;
  }
  100% {
    width: 50%;
  }
}



@media (max-width: 1500px) {

  .description-we-are {
    align-items: center;
    justify-content: center;
    margin-right: 0rem;

    padding: 0 2rem;
  }

  .description-we-are br {
    display: none;
  }

  .who-we-are div > img {
    height: 40vh;
  }
  
  .description-we-are p {
    font-size: 1.2rem;
    text-align: center;
    margin: 2rem 0rem;
    
    text-align: left;
    padding: 0 .5rem;
  }

  .who-we-are h2 {
    font-size: 2.5rem;
  }

  .meet-team {
    font-size: 1rem;
  }

  .light {
    width: 150px;
    bottom: 40px;
    
    transition: .5s;
  }
  @keyframes animation-line {
    0% {
      width: 0px;
    }
    100% {
      width: 80%;
    }
  }

}

@media (max-width: 1000px) {
  .description-we-are {
    flex-direction: column;
  }

  .who-we-are > div > img {
    width: 100%;
    height: auto;
    margin: 0 2rem;
  }

  
  
}

@media (max-width: 700px) {
  .who-we-are {
    padding: 3rem 0 4rem;
  }
}